@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(58, 55, 255);
    background-size: contain;
    background-repeat: no-repeat;
   
}
h1{
    color: white;
    text-shadow: 2px 2px 0px rgb(22, 22, 77);
    padding: 10px;
}
