@charset "UTF-8";
body{
    background-color: rgb(172, 171, 171);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(101, 143, 250); 
    font-family:'Courier New', Courier, monospac ;
}
    
h1#principal{
text-align: center;
font-family: 'Courier New', Courier, monospace;
background-color:  rgb(169, 253, 169);
color: rgb(100, 34, 34);}


.basico {color: rgb(4, 255, 38); font-weight: bold;}
.intermediario { color: rgb(255, 255, 0); }
.avancado { color: red;}

h2{
    color: rgb(101,143,250);
}
.destaque{
    background-color: rgb(206, 206, 143);
}