@charset "UTF-8";


header, header > nav{
    flex-flow: column nowrap;
    }
    
    header >h1{
        flex-basis: 50px;
    }
    header > nav> a {
        width: 90vw;
    }
    .audio{
        display: flex;
        flex-wrap: wrap;
        max-width: 700px;
        margin: 0 auto;

    }